<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}

<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="index.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<style>
body, html {
  height: 100%;
  font-family: "Inconsolata", sans-serif;
}
</style>
</head>
<body>

<!-- About Container -->
<div class="w3-container" id="about">
    <div class="w3-content" style="max-width:700px">
      <h5 class="w3-center w3-padding-32"><span class="w3-tag w3-wide">About Me</span></h5>
      <center><img src="https://i.ibb.co/MMTgQqm/3385-AA92-6-F06-4-B88-BD70-D6-EB94-ECF60-C.jpg"
      width="200" height="250"  style="display:block"  alt="me and my sister"></center>
      <p>    </p>
      <p>My name is Monica Tong. I'm the girl on the right, my sister is on the left. I'm a senior in High School, and I'm building this website as part of 
          my capstone class. We chose a topic we wanted to research (mine was school education) and
    to build a website based off of the topic chosen.  </p>

    </p>
    </div>
  </div>

  <!-- Purpose Container -->
<div class="w3-container" id="about">
    <div class="w3-content" style="max-width:700px">
      <h5 class="w3-center w3-padding-32"><span class="w3-tag w3-wide"> Purpose</span></h5>
      <center><p>My intended purpose is to provide an efficient means for parents and school staff to communicate
         with each other, and to also provide sufficient resources and support for low-income parents. </p>
      <p>Parents interactivity: Be updated on your child's behavior and grades, communicate with teachers, 
          catch up on school news, and check out our resources page which includes volunteer opportunities.</p>
    <p>Teachers interactivity: Input and sync progress reports, communicate with parents, post any volunteer
        opportunities you would like to post.</center></p>
    </div>
  </div>

<!-- Contact Us Container -->
<div class="w3-container" id="about">
    <div class="w3-content" style="max-width:700px">
      <h5 class="w3-center w3-padding-32"><span class="w3-tag w3-wide">Contact Me</span></h5>
      <center><p><strong>Email:</strong> s_monica.tong@ousd.org</p>
      <p><strong>Phone:</strong> (510) 123-4567</p></center>
    </div>
  </div>

  
<!-- Version History Container -->
<div class="w3-container" id="about">
    <div class="w3-content" style="max-width:700px">
      <h5 class="w3-center w3-padding-32"><span class="w3-tag w3-wide">Version History</span></h5>
      <center><p>About Us Page - 3/7/2022</p></center>
    </div>
  </div>

  </body>
  </html>

{% endblock %}
