{% extends 'base.html' %}

{% block body %} 
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Lumia Bootstrap Template - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

<link href="{{ url_for('static', filename='covids.css') }}" rel="stylesheet" />
</head>

<section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="container text-center text-md-left" data-aos="fade-up">
      <h1>Covid-19 Resources</h1>
      <h2>Vaccines, Testing, Booster Shots</h2>
      <a href="/covid/new" class="btn-get-started scrollto">New Post</a>
    </div>
</section>

{% if covids %}
    {% for covid in covids %}

<table class = "table">
    <tr>
        <div class="row border-bottom">
            <div class="col">
                {% if loop.index == 1 %}
                <h5 class="display-5">User</h3>
                {% endif %}
                {{covid.author.username}}
            </div>
            <div class="col">
                {% if loop.index == 1 %}
                <h5 class="display-5">Date(s)</h3>
                {% endif %}
                <a href="/covid/{{covid.id}}">
                {{covid.date}}
                </a>
            </div>
            <div class="col">
                {% if loop.index == 1 %}
                <h5 class="display-5">Hours<h3>
                {% endif %}
                {{covid.hours}}
            </div>
            <div class="col">
                {% if loop.index == 1 %}
                <h5 class="display-5">Address</h3>
                {% endif %}
                {{covid.address}}
            </div>
            <div class="col">
                {% if loop.index == 1 %}
                <h5 class="display-5">Type<h3>
                {% endif %}
                {{covid.option}}
                </div>
                <div class="col">
                    {% if loop.index == 1 %}
                    <h5 class="display-5">Apply</h3>
                    {% endif %}
                    <button type="button"><a href="application.html">Apply</a></button>
                </div>
</div>
</tr>
</table>
    {% endfor %}

    
{% else %}
    <h1>No Posts</h1>
{% endif %}

{% endblock %}