{% extends "base.html" %}

{% block body %}
        <h1>Information</h1>

        <form method=covid>
            {{ form.hidden_tag() }}
            <p>
                {{ form.date.label }} <br>
                {{ form.date(size=64) }}
                <!--List the errors for this field-->
                {% for error in form.date.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.address.label }} <br>
                {{ form.address(cols=64, rows=10) }}
                <!--List the errors for this field-->
                {% for error in form.address.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.option.label }} <br>
                {{ form.option(cols=64, rows=11) }}
                <!--List the errors for this field-->
                {% for error in form.option.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{form.submit()}}
            </p>
        </form>
        
{% endblock %}
