{% extends 'base.html' %}

{% block body %}

{% if covid %}

{{moment(covid.createdate).calendar()}} by {{covid.author.username}} 
{% if covid.modifydate %}
    modified {{moment(covid.modifydate).calendar()}}
{% endif %}
<br>
    {% if covid.author == current_user %}
        <a data-toggle="tooltip" data-placement="top" title="Delete Post" href="/covid/delete/{{covid.id}}">
            <img width="40" class="bottom-image" src="/static/delete.png">
        </a>
        <a data-toggle="tooltip" data-placement="top" title="Edit Post" href="/covid/edit/{{covid.id}}">
            <img width="40" class="bottom-image" src="/static/edit.png">
        </a>
    {% endif %}

    <h1 class="display-5">Date: {{covid.date}}</h1>

    <h1 class="display-5">Hours: {{covid.hours}}</h1>

    <h1 class="display-5">Address: {{covid.address}}</h1>

    <h1 class="display-5">Type: {{covid.option}}</h1>

    <h1 class="display-5">Link: {{covid.link}}</h1>


   
{% else %}
    <h1 class="display-5">No Info</h1>
{% endif %}

{% endblock %}