{% extends "base.html" %}

{% block body %}
        <h1></h1>

        <form method=post>
            {{ form.hidden_tag() }}
            <p>
                {{ form.subject.label }} <br>
                {{ form.subject(size=64) }}
                <!--List the errors for this field-->
                {% for error in form.subject.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.content.label }} <br>
                {{ form.content(cols=64, rows=10) }}
                <!--List the errors for this field-->
                {% for error in form.content.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.image.label }}<br>
                {% if current_user.image %}
                    <img class="img-thumbnail" width="100" src="data:image;base64,{{base64encode(current_user.image.read())}}"> <br>
                {% else %}
                    <img class="img-thumbnail" width = "100" src="/static/bdog.jpg">
                {% endif %} <br>
                {{ form.image() }}<br>
                {% for error in form.image.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{form.submit()}}
            </p>
        </form>
        
{% endblock %}
